//banner celular
$comp1: 25vh;
$img1: url("../img/banner1.png");

$tablista: #DCDCDC;

//banner tablet
$comp2: 30vh;
$img2: url("../img/banner2.png");

//desktop
$comp3: 40vh;
$img3: $img2;

$navcor: #212529;